/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.navbar-inverse {
    background-color: #0f6eb1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

.border-right {
    border-right: 1px solid black;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
  }
}

.blankstar
{
    background-image: url(blank_star.png);
    width: 16px;
    height: 16px;
}
.waitingstar
{
    background-image: url(half_star.png);
    width: 16px;
    height: 16px;
}
.shiningstar
{
    background-image: url(shining_star.png);
    width: 16px;
    height: 16px;
}