<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CSSG_WebPortal.SiteMaster" %>

<!DOCTYPE html>

<!-- 
TODO:
    Required fields depending on button pressed
    Converting controls to ASP controls
    Adding login/register functionality (use capatcha for register?)
    Implement logic for attempts of login
-->

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Chemical Safety Simulation Game</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
</head>
<body>
    <form runat="server" style="margin-left:5%; margin-right:5%">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h2>
                        <span>Chemical Safety Simulation Video Game</span>
                    </h2>
                </div>   
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a ID="HomeButton" class="btn btn-default btn-lg btn-block" href="../Default.aspx">Home</a>

                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <a ID="RegisterLoginButton" class="btn btn-default btn-lg btn-block" href="../Pages/RegisterLogin.aspx">Register/Login</a>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <a ID="LogoutButton" class="btn btn-default btn-lg btn-block" href="../Default.aspx">Logout</a>
                        </LoggedInTemplate>
                    </asp:LoginView>

                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <LoggedInTemplate>
                            <a ID="TutorialButton" class="btn btn-default btn-lg btn-block" href="../Pages/Tutorial.aspx">Tutorial</a>
                            <a ID="HazardSymbolsButotn" class="btn btn-default btn-lg btn-block" href="../Pages/HazardSymbols.aspx">Hazard Symbols</a>
                            <a ID="SafetyDataSheetsButton" class="btn btn-default btn-lg btn-block" href="../Pages/SafetyDataSheets.aspx">Safety Data Sheets</a>
                            <a ID="SafetyProceduresButton" class="btn btn-default btn-lg btn-block" href="../Pages/SafetyProcedures.aspx">Safety Procedures</a>
                            <a ID="FinalExamButton" class="btn btn-default btn-lg btn-block" href="../Pages/FinalExam.aspx">Final Exam</a>
                            <a id="MaterialButton" class="btn btn-default btn-lg btn-block" href="../Pages/FinalExam.aspx">Material</a>
                            <a ID="ResultsButton" class="btn btn-default btn-lg btn-block" href="../Pages/Results.aspx">Results</a>
                            <a ID="ContactButton" class="btn btn-default btn-lg btn-block" href="../Pages/Contact.aspx">Contact Us</a>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
                <div class="col-md-9 container body-content">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <hr />
                <footer>
                    <p style="text-align:center">&copy; <%: DateTime.Now.Year %> - Copyright 2015 - All Rights Reserved</p>
                </footer>
            </div>
        </div>
    </form>
</body>
</html>
